@import url("https://fonts.googleapis.com/css2?family=Khula:wght@600&display=swap");
body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100wh;
  height: 100vh;
  font-family: "Khula";
}

.container {
  width: 380px;
  height: 440px;
  border: 1px solid #E5E5E5;
  border-radius: 8px;
}

.container .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #E5E5E5;
  padding: 16px 20px 16px 20px;
}

.container .title #left {
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;
  color: #1c1f37;
}

.container .title #right {
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  color: #017efa;
}

.data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 8px;
  opacity: 0.5;
  padding: 5px 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #E5E5E5;
  border-radius: 4px;
}

.data #month {
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  color: #1c1f37;
  opacity: 0.5;
}

.data #day {
  font-size: 18px;
  line-height: 22px;
  color: #1c1f37;
}

.content .flex {
  padding-top: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content .flex .tasks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content .flex .tasks .task {
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  color: #1c1f37;
}

.content .flex .tasks .role {
  font-size: 12px;
  line-height: 19px;
  color: #1c1f37;
  opacity: 0.5;
}

.content .flex2 {
  border-bottom: 1px solid #E5E5E5;
  margin-right: 20px;
  margin-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content .flex2 .task-bar {
  width: 100px;
  margin-top: 5px;
  margin-bottom: 20px;
  border-radius: 44px;
  height: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 12px;
  background-color: #E5E5E5;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content .flex2 .task-bar .bar {
  width: 24%;
  height: 100%;
  background: #51cbff;
  border-radius: 44px;
}

.content .flex2 .task-bar .bar2 {
  width: 72%;
}

.content .flex2 .task-bar .bar3 {
  width: 90%;
}

.content .flex2 .task-bar .bar4 {
  width: 72%;
}

.content .flex2 .fill {
  font-size: 12px;
  line-height: 19px;
  color: #1c1f37;
  opacity: 0.5;
}
/*# sourceMappingURL=style.css.map */